<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>Dental Clinic Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="../assets/css/bootstrap.css"
      th:href="@{/assets/css/bootstrap.css}"
    />
    <link
      rel="stylesheet"
      href="../assets/css/thymeleaf-demo.css"
      th:href="@{/assets/css/style.css}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Patient View</h2>
      <ul>
        <li class="style1"><a href="/appointments"> View Appointments </a></li>
        <li class="style1"><a href="/branches"> View Branches </a></li>
        <li class="style1">
          <a href="/createreview"> Create a Review </a>
        </li>
        <li class="style1"><a href="/review"> View Reviews </a></li>
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out"/>
        </form>
      </ul>
    </div>
    
  </body>
</html>
